* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  background-color: #131313;
  color: white;
  margin: 0 auto;
}
.container {
  width: 90%;
  margin: auto;
  margin-top:15px;
}

.navbar {
  width: 100%;
  border-radius: 10px;
}
.navbar a {
  float: left;
  width: 25%;
  background: #343434;
}
.navbar>a:first-child {
  border-bottom-left-radius: 3px
}

.navbar>a:last-child {
  border-bottom-right-radius: 3px
}
nav a {
  color: inherit;
  display: inline-block;
  padding: 17px 25px;
  text-align: center;
}

a:hover,
a:active {
  background: #338af5;
}